<head>
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<app-navbar></app-navbar>

<div class="container" *ngIf="(cartItems$ | async) as items">
   <ng-container *ngIf="items.length > 0;" class="cardcontainer">
      <div *ngFor="let item of items" class="card">
         <span class="material-symbols-outlined delete" (click)="deleteFromCart(item)">close</span>
         <img loading="lazy" src="{{item.image[0]}}">
         <div>{{item.name}}</div>
         <strong>
            <div class="price">{{item.price | mynumber}}</div>
         </strong>
      </div>
   </ng-container>
</div>


<button class="test" (click)="testButton()">TEST BUTTON</button>