.container {
    margin-top: 70px;
}

.cardcontainer {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 120px;
    margin-left: 5%;
    margin-right: 5%;
}


.card > *:nth-child(2) {
    height: 120px;
    aspect-ratio: 1/1;
}
.card > *:nth-child(4) {
    margin-left: auto;
}

img {
    object-fit: contain;
}

.card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: silver;
    height: 0.5px;
}
.card:last-child::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: silver;
    height: 0.5px;
}

.test {
    margin-top: 100px;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 48;
}

.delete {
    aspect-ratio: 1/1;
    padding: 16px;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
.delete:hover, .delete:active, .delete:focus {
    color: red;
}


@media screen and (max-width:500px) {
    .card {
        height: 20vw;
    }
    .card > *:nth-child(2) {
        height: 20vw;
    }
    .delete {
        font-size: 8vw;
        padding: 2vw;
    }
}