<div class="navbacking" id="navbacking"></div>
<div class="topnav" id="responsiveNavbar">
  <a class="menubuttons"><div class="button underline" routerLink="/home" routerLinkActive="active">HOME</div></a>
  <a class="menubuttons right"><div class="button underline" routerLink="/cart" routerLinkActive="active">CART</div></a>

  <div class="menu menuicon" onclick="animationX(this), responsiveNavbar()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</div>