.cardcontainer {
    height: fit-content;
    display: flex;
    gap: 5vmin;
}
.card {
    position: relative;
    height: var(--card-height);
    aspect-ratio: 6/12;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card .content1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: fit-content;
    margin: var(--card-margin);
}
.card .content2 {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin:var(--card-margin);
}
button {
    width: 100%;

    padding-top: 5px;
    padding-bottom:5px;
}
.card img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.filter {
    position: fixed;
    background-color: red;
    height: 100vh;
    width: var(--filter-width);
}