span {
    user-select: none;
}

.cardcontainer {
    margin-top: 70px;
    background-color: rgb(242, 242, 242);
}

.searchFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.filterAndCardContainer {
    width: calc((var(--card-height) / 2 * 4) + var(--card-gap) * 3);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter {
    width: 100%;
    height: 150px;
    background-color: white;
}

.searchbar {
    height: 1200px;
    width: 220px;

}

input {
    border: 1px solid silver;
    border-radius: 2px;
    outline: none;
    transition: 0.2s all ease-in-out;
}
input:focus {
    border: 1px solid var(--main-color);
}

.searchByType {
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.options {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.option {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
    padding: 10px;
}
.expand {
    transition: max-height 0.2s ease-in;
    max-height: 40px;
}
.flip {
    transform: rotate(180deg);
}




@media screen and (max-width: 1400px) {
    .filterAndCardContainer {
        width: calc((var(--card-height) / 2 * 3) + var(--card-gap) * 2);
    }
}
@media screen and (max-width: 918px) {
    .filterAndCardContainer {
        width: calc((var(--card-height) / 2 * 2) + var(--card-gap) * 1);
    }
}

@media screen and (max-width: 700px) {
    .searchbar {
        display: none;
    }
}