body {
    width: 100%;
    height: 100%;
}

span {
    user-select: none;
    text-align: center;
    display: flex;
    align-items: center;
}

.cardcontainer {
    margin-top: 70px;
    background-color: rgb(242, 242, 242);
}

.searchFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.filterAndCardContainer {
    width: calc((var(--card-height) / 2 * 4) + var(--card-gap) * 3);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter {
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbar {
    height: 1200px;
    width: 220px;
}

input {
    border: 1px solid silver;
    border-radius: 2px;
    outline: none;
    transition: 0.2s all ease-in-out;
    width: 40%;
    margin: 2vw;
    height: 20px;
}

.inputs {
    display: flex;
    justify-content: center;
}
input:focus {
    border: 1px solid var(--main-color);
}

.searchByType {
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.options {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.option {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
    padding: 10px;
}
.expand {
    transition: max-height 0.2s ease-in;
    max-height: 40px;
}
.flip {
    transform: rotate(180deg);
}

.filter button {
    padding-top: 5px;
    padding-bottom:5px;
    border: none;
    background-color: rgb(61, 159, 192);
    color: white;
    margin-bottom:2vw;
}




@media screen and (max-width: 1400px) {
    .filterAndCardContainer {
        width: calc((var(--card-height) / 2 * 3) + var(--card-gap) * 2);
    }
}
@media screen and (max-width: 918px) {
    .filterAndCardContainer {
        width: calc((var(--card-height) / 2 * 2) + var(--card-gap) * 1);
    }
}

@media screen and (max-width: 700px) {
    .searchbar {
        position: relative;
        display: block;
        height: fit-content;
        width: 100%;
    }

    .searchFilterContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .filterAndCardContainer {
        width: 100%;
    }
    
    input {
        width: 40vw;
    }
    .inputs {
        display: flex;
        justify-content: center;
    }
    .filter {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filter button {
        width: 30vw;
        font-size: 3vw;
    }

}