/* You can add global styles to this file, and also import other style files */
:root {
    --filter-width:10vmin;
    --card-height:430px;
    --card-margin:5%;
    --price-color:rgb(61, 159, 192);
    --main-color:rgba(61, 159, 192);
    --main-color-rgba:rgba(61, 159, 192, 0.9);

    //nav
    --underline-height:1.5px;
}
html {
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}